<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tzuzul Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/calendar.css">

</head>

<body>
    <nav class="nav-bar">
        <div class="nav-left-side">
            <div class="item 01" id="bar-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="item 02">
                <a href="#">Item2</a>
            </div>
            <div class="item 03">
                <a href="#">Item</a>
            </div>
        </div>
        <div class="nav-right-side">
            <div class="item 04">
                <a href="#">Item</a>
            </div>
            <div class="item 05">
                <a href="#">Item</a>
            </div>
            <div class="item 06" id="config-btn">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="item i-07">
                <img src="/img/persona01.jpg" alt="">
            </div>
        </div>
    </nav>

    <main>
        <div class="menu-show" id="menu-show"></div>
        <div class="left-side">
            <div class="month">
                <h2>2022</h2>
            </div>
            <div class="bg-left">
            </div>
        </div>
        <div class="right-side">
            <div class="month-title">
                <h2>Abril / 04</h2>
            </div>
            <div class="month-calendar">
                <div class="days">L</div>
                <div class="days">M</div>
                <div class="days">X</div>
                <div class="days">J</div>
                <div class="days">V</div>
                <div class="days">S</div>
                <div class="days domingo">D</div>
            </div>
            <div class="calendar">
                <div class="calendar-grid">
                    <div class="calendar-box disabled">1</div>
                    <div class="calendar-box disabled">2</div>
                    <div class="calendar-box disabled">3</div>
                    <div class="calendar-box">4</div>
                    <div class="calendar-box">5</div>
                    <div class="calendar-box">6</div>
                    <div class="calendar-box">7</div>
                    <div class="calendar-box">8</div>
                    <div class="calendar-box">9</div>
                    <div class="calendar-box">10</div>
                    <div class="calendar-box">11</div>
                    <div class="calendar-box">12</div>
                    <div class="calendar-box">13</div>
                    <div class="calendar-box">14</div>
                    <div class="calendar-box">15</div>
                    <div class="calendar-box">16</div>
                    <div class="calendar-box">17</div>
                    <div class="calendar-box">18</div>
                    <div class="calendar-box">19</div>
                    <div class="calendar-box">20</div>
                    <div class="calendar-box">21</div>
                    <div class="calendar-box">22</div>
                    <div class="calendar-box">23</div>
                    <div class="calendar-box">24</div>
                    <div class="calendar-box">25</div>
                    <div class="calendar-box">26</div>
                    <div class="calendar-box">27</div>
                    <div class="calendar-box">28</div>
                    <div class="calendar-box">29</div>
                    <div class="calendar-box">30</div>
                    <div class="calendar-box">31</div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/calendar.js"></script>

</body>

</html>