<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tzuzul Calendar</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="left-side">
        <nav class="nav-bar">
            <div class="nav-left-side">
                <div class="item01"><a href="#">Inicio</a></div>
                <div class="item02"><a href="#">Sobre nosotros</a></div>
                <div class="item03"><a href="#">FAQ</a></div>
            </div>
            <div class="nav-right-side">
                <div class="item04"><a href="#">Iniciar sesión</a></div>
                <div class="item04"><a href="#">Registrarme</a></div>
            </div>
        </nav>
        <div class="titles">
            <div class="title">
                <h1>Tzuzul Calendar</h1>
                <h2>“Estableced el orden: el hábito se encargará de mantenerlo.”</h2>
                <p><i>-Duque de Lévis</i></p>
            </div>
            <div class="login-buttons">
                <div>
                    <a href="/login" class="btn">Iniciar sesión</a>
                </div>
                <div>
                    <a href="/register" class="btn">Registrarme</a>
                </div>
            </div>
        </div>
        <div class="ghost-div">

        </div>
    </div>

</body>

</html>