<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <div class="login-box">
            <div class="left-side">
                <h2>Lorem ipsum dolor sit</h2>
                <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis obcaecati nesciunt esse adipisci facere in doloremque impedit, suscipit similique voluptate harum corporis laudantium distinctio voluptatem architecto quas sapiente non.</p>
            </div>
            <div class="right-side">
                <div class="title">
                    <h1>Iniciar sesión</h1>
                </div>
                <div class="data-form">
                    <!-- <label for="user" class="user" id="user-label">User name</label>
                    <input type="text" name="user" id="user" class="user-input"> -->
                    <label for="username" class="username" id="username-label">Username</label>
                    <input type="username" name="username" id="username" class="username-input">

                    <label for="password" class="password" id="password-label">Password</label>
                    <input type="password" name="password" id="password" class="password-input">
                    <button type="submit" class="btn">Iniciar sesión</button>
                </div>
                <div class="account-already">
                    <a href="/register">¿Todavia no tienes una cuenta? Registrate aquí</a>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/login.js"></script>
</body>
</html>